@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(35, 36, 37, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(53, 54, 56, 0);
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% center;
    }
    100% {
        background-position: 200% center;
    }
}

main {
    animation: fadeInUp 1s ease-out;
    background-size: 200% 200%;
    animation: gradientFlow 10s ease infinite;
}

.challenge-btn:hover,
.nav-button:hover, 
.animated-button:hover,
.password-container button:hover {
    animation: pulse 1.5s infinite;
}

.spot-light h1 {
    background: linear-gradient(90deg, 
        #000000 0%, 
        #363636 25%, 
        #2f2f2f 50%, 
        #484848 75%, 
        #000000 100%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 8s linear infinite;
}

.days-container {
    perspective: 1000px;
}

.tag {
    transition: all 0.3s ease;
}

.tag:hover {
    transform: scale(1.1) rotate(3deg);
    background-color: #28292b;
    color: rgb(0, 0, 0);
}

.social-button {
    transition: all 0.3s ease;
}

.social-button:hover {
    animation: float 1.5s ease-in-out infinite;
    background: rgba(27, 28, 30, 0.2);
}

.password-container {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.password-container:hover {
    transform: translateZ(20px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.password-result {
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;
}

.project-details-container {
    opacity: 0;
    animation: fadeInUp 0.8s ease forwards;
    animation-delay: 0.3s;
}

.footer-section {
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;
    
}

.footer-section:nth-child(1) { animation-delay: 0.1s; }
.footer-section:nth-child(2) { animation-delay: 0.2s; }
.footer-section:nth-child(3) { animation-delay: 0.3s; }
