@font-face {
    font-family: 'Glakion-Demo-BF6773916988225';
    src: url('/assets/Font/Glakion-Demo-BF6773916988225.otf'), format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  #newfont {
    font-family: 'Dailen-Style-BF673e8f5862f96';
  }

main {
    margin: 30px 60px;
    padding-top: 150px;
    border-radius: 25px;
    width: 1fr;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/assets/Images/codioful-formerly-gradienta--4doJI-wd_s-unsplash.jpg);
}

.spot-light h1 {
    display: flex;
    justify-content: center;
    font-family: 'Glakion-Demo-BF6773916988225';
    font-size: 56px;
}

.description {
  display: flex;
  justify-content: center;
  color: #00000094;
  font-size: large;
}