{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name | Home page</title>
    <link rel="stylesheet" href="./assets/CSS/index.css">
    <link rel="stylesheet" href="/assets/CSS/unversal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Questrial&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <nav>
                <div class="left-nav">
                    <p class="logo">Ymmersions</p>
                </div>
                <div class="right-nav">
                    <a href="/" class="nav-button">Accueil</a>
                    <a href="/projets" class="nav-button">épreuves</a>
                    <a href="#" class="nav-button">about us</a>
                    <a href="#" class="nav-button">tableau de bord</a>
                </div>
            </nav>
        </div>
    </header>


    <main>
        <div class="spot-light">
            <h1>
                Portofolio pour les Ymmersions
            </h1>
            <p class="description">
                nous devions créer un site portfolio dynamique documentant les
                épreuves réalisées pendant une semaine.
            </p>
        </div>
        <div class="see-more-btn">
            <a href="/projets" style="text-decoration: none;">
                <button class="animated-button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                        <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                    </svg>
                    <span class="text">Voir plus</span>
                    <span class="circle"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                        <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                    </svg>
                </button>
            </a>
        </div>

    </main>




    <footer>

    </footer>
</body>

</html>
{{end}}