<!--{{define "index"}}-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name | Home page</title>
    <link rel="stylesheet" href="./assets/index.css">
    <link rel="stylesheet" href="/assets/CSS/unversal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Questrial&display=swap"
    rel="stylesheet">
</head>

<body>
    <div class="nav-container">
        <nav>
            <div class="left-nav">
                <p class="logo">Ytranger</p>
            </div>
            <div class="right-nav">
                <a href="/">Accueil</a>
                <a href="#">épreuves</a>
                <a href="#">about us</a>
            </div>
        </nav>
    </div>



    <main>

    </main>


    <footer>

    </footer>
</body>

</html>
<!--{{end}}-->